/*
  Reiniciando as estilizações e adicionando fonte
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/*
  Aplicando novas estilizações
*/

nav {
  display: flex;
  flex: 1;
  background-color: #5b5b5b;
  flex-direction: row;
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

body {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  background-color: #5b5b5b;
  flex-direction: row;
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

div.message {
  text-align: center;
}

div.title {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

div.d-field {
  margin: 10px 20px;
  padding: 0 25px;
  border: 1px #0b5394 solid;
  border-radius: 10px;
}

div.listaPendencias {
  align-items: center;
  justify-content: center;
}

div.action-buttons {
  display: flex;
  flex-direction: row;
}

.home-add {
  margin: 25px auto;
  justify-content: center;
}

p.d-label {
  font-size: 16;
  text-align: left;
  font-weight: bold;
  text-decoration: underline black solid;
}

p.d-value {
  font-size: 13;
}

table, th, td {
  padding: 4px 10px;
  border-width: 2px;
  border-color: #777;
  border-radius: 20px;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 8px 10px;
}

label {
  display: flex;
  margin: 4px auto;
  padding: 0 10px;
  text-align: left;

}
select {
  display: flex;
  padding: 4px 5px;
  width: 100%;
}
input {
  display: flex;
  padding: 4px 5px;
  width: 100%;
}
input:hover {
  cursor: auto;
}
input[type=button] {
  cursor: pointer;
}
textarea,
input,
select {
  padding: 10px 15px;
  border: solid black 1px;
  border-radius: 5px;
  font-size: normal;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input[type=button] {
  justify-content: center;
}
input[type=button].nav {
  border: none;
  background: none;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  
}
input[type=button].home-add {
  border: 2px solid #38761d;
  background-color: #6aa84f;
  color: #fff;
}
input[type=button].details {
  border: 2px solid #741b47;
  background-color: #a64d79;
  color: #fff;
}
input[type=submit].add,
input[type=button].add {
  border: 2px solid #38761d;
  background-color: #6aa84f;
  color: #fff;
}
input[type=button].edit {
  border: 2px solid #0b5394;
  background-color: #3d85c6;
  color: #fff;
}
input[type=button].delete {
  border: 2px solid #990000;
  background-color: #cc0000;
  color: #fff;
}