body {
  background-color: #fff;
}

div.d-field {
  margin: 10px 20px;
  padding: 0 25px;
  border: 1px #0b5394 solid;
  border-radius: 10px;
}

p.d-label {
  font-size: 16;
  text-align: left;
  font-weight: bold;
  text-decoration: underline black solid;
}

p.d-value {
  font-size: 13;
}

.navbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  background-color: #5b5b5b;
  flex-direction: row;
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.body {
  flex: 1;
  justify-content: center;
}

table, th, td {
  padding: 4px 10px;
  border-width: 2px;
  border-color: #777;
  border-radius: 20px;
  border-style: solid;
  border-collapse: collapse;
}

th, td {
  padding: 2px 5px;
}

input[type=button] {
  margin: 0 5px;
  padding: 4px 20px;
  border-radius: 3px;
}

input[type=button].add {
  border: 2px solid #38761d;
  background-color: #6aa84f;
  color: #fff;
}
input[type=button].edit {
  border: 2px solid #0b5394;
  background-color: #3d85c6;
  color: #fff;
}
input[type=button].delete {
  border: 2px solid #990000;
  background-color: #cc0000;
  color: #fff;
}